<img class="d-block w-100 pic mb-5" src="{{this.imagePath}}" alt="Second slide">
           
<h2 class="text-center features mb-5">About A &amp; G Properties </h2>

<div>
    <div class="text-left d-flex justify-content-center">
        <p class="w-75 lead">A &amp; G Properties is a property management company focused on fulfilling our mission to provide comfortable rental properties and the highest quality service for both our tenant and property management clients. We provide service consistent with our values of respect, integrity, and honesty and strive to create value in our clients' lives.</p> 
    </div>
    <div class="text-left d-flex justify-content-center mb-5 lead">
        <p class="w-75">We provide a broad spectrum of services, including providing comfortable rental properties, providing management servies for property owners and investors, and improving our communities through the improvement of our properties. We believe in the importance of having a positive impact on our neighbors and adding value in every way we can.</p>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end mr-4">
            <a href="/about"><img src="assets/arrow.jpeg"></a>
        </div>
    </div>
</div>
