<div class="d-block w-100 pic mb-5">
    <img class="d-block w-100 pic" src="{{imagePath}}" alt="First slide">
</div>

<div class="row">
    <div class="col">
        <h5 class="text-center mb-5">{{this.location}}</h5>
        <h3 class="text-center mb-3">{{this.applicant.firstName}}, thank you for applying.<br><br> We will be in touch with you soon.</h3>    
    </div>
</div> 

   