<img class="d-block w-100 pic mb-5" src="{{this.imagePath}}" alt="Second slide">
           
<h2 class="text-center features mb-5">Join Our Team</h2>

<div>
    <div class="text-left d-flex justify-content-center mb-5">
        <p class="w-75 lead">Try an exciting new career as a property manager with A &amp; G Properties. Property Management is an exciting and rewarding career focused on providing quality service.</p> 
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end mr-4">
            <a href="/careers"><img src="assets/arrow.jpeg"></a>
        </div>
    </div>
</div>