<div class="d-block w-100 pic mb-5">
    <img class="d-block w-100 pic" src="{{imagePath}}" alt="Office Image">
</div>

<div class="row">
    <div class="col">
        <h3 class="text-center mb-3">{{this.contact.firstName}}, thank you for contacting us.<br>
        <br> We will be in touch with you soon.</h3>    
    </div>
</div> 