<img class="d-block w-100 pic mb-5" src="{{this.imagePath}}" alt="Second slide">
           
<h2 class="text-center features mb-5">Property Management Services</h2>

<div>
    <div class="text-left d-flex justify-content-center mb-5">
        <p class="w-75 lead">A &amp; G Properties provides full service property management services for rental property owners and investors. We aim to provide the highest quality service for both our tenant and property management clients consistent with our values of respect, integrity, and honesty and strive to create value in our clients' lives. Please contact use today to learn more about having your property professionally managed by A &amp; G Properties</p> 
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end mr-4">
            <a href="/services"><img src="assets/arrow.jpeg"></a>
        </div>
    </div>
</div>